/build/
/nbproject/
src/java/dal/DBContext.java
test.jsp
/dist/
/src/java/config/mail.properties

.fake
/mysql/solution/Q1_HE182335/build/
/mysql/solution/Q1_HE182335/nbproject/private/
/mysql/solution/Q2_HE182335/build/
/mysql/solution/Q2_HE182335/nbproject/private/
