<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Demo</servlet-name>
        <servlet-class>controller.Demo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartView</servlet-name>
        <servlet-class>controller.cart.CartView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogsServlet</servlet-name>
        <servlet-class>controller.BlogsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Blog_CateServlet</servlet-name>
        <servlet-class>controller.Blog_CateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartItemServlet</servlet-name>
        <servlet-class>controller.cart.UpdateCartItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartItemServlet</servlet-name>
        <servlet-class>controller.cart.DeleteCartItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartItemServlet</servlet-name>
        <servlet-class>controller.cart.AddCartItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductAdminServlet</servlet-name>
        <servlet-class>controllerAdmin.ProductAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashbordServlet</servlet-name>
        <servlet-class>controllerAdmin.AdminDashbordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewServlet</servlet-name>
        <servlet-class>controllerAdmin.UserViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComAdminServlet</servlet-name>
        <servlet-class>controllerAdmin.ComAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CateAdminServlet</servlet-name>
        <servlet-class>controllerAdmin.CateAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandAdminServlet</servlet-name>
        <servlet-class>controllerAdmin.BrandAdminServlet</servlet-class>
            </servlet>
    <servlet>
        <servlet-name>BlogAdminServlet</servlet-name>
        <servlet-class>controllerAdmin.BlogAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailServlet</servlet-name>
        <servlet-class>controller.BlogDetailServlet</servlet-class>
    </servlet>
    <servlet>

        <servlet-name>BlogAddServlet</servlet-name>
        <servlet-class>controllerAdmin.BlogAddServlet</servlet-class>

        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>controllerAdmin.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>controller.FeedbackServlet</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>Demo</servlet-name>
        <url-pattern>/Demo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartView</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogsServlet</servlet-name>
        <url-pattern>/BlogsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Blog_CateServlet</servlet-name>
        <url-pattern>/blogc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartItemServlet</servlet-name>
        <url-pattern>/UpdateCartItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartItemServlet</servlet-name>
        <url-pattern>/DeleteCartItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartItemServlet</servlet-name>
        <url-pattern>/AddCartItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAdminServlet</servlet-name>
        <url-pattern>/ProductAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashbordServlet</servlet-name>
        <url-pattern>/AdminDashbordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>

        <servlet-name>UserViewServlet</servlet-name>
        <url-pattern>/Admin/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComAdminServlet</servlet-name>
        <url-pattern>/ComAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CateAdminServlet</servlet-name>
        <url-pattern>/CateAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandAdminServlet</servlet-name>
        <url-pattern>/BrandAdmin</url-pattern>

        <servlet-name>BlogAdminServlet</servlet-name>
        <url-pattern>/bloga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailServlet</servlet-name>
        <url-pattern>/blogdetail</url-pattern>

    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/Admin/user/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogAddServlet</servlet-name>
        <url-pattern>/blogadd</url-pattern>
    </servlet-mapping>
</web-app>
